<!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Kontakt</h2>
            <hr class="style12">	
            <h3 class="section-subheading text-muted">Chciałbyś dowiedzieć się więcej? Zadzwoń do nas lub napisz maila, postaramy się odpowiedzieć jak najszybciej!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-contact">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p> +48 609 916 600</p>
          </div>
          <div class="col-lg-6 text-contact">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>jaworznotomy@gmail.com
</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Jaworzno to My 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
  
              <li class="list-inline-item">
                <a href="https://www.facebook.com/jaworznotomy/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    

  <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


 <!-- javasript -->
 <script type="text/javascript" src="/js/jtm.js"></script>
 <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</body>
</html>