<% include ./partials/btparts %>

<form action="/members" method="POST">
    <input type="text" name="member[name]" placeholder="imie i nazwisko">
    <input type="text" name="member[img]" placeholder="URL zdjęcia">
    <input type="submit">
</form>