<h1>add news</h1>

<form action="/news" method="POST">
    <input type="text" name="event[title]" placeholder="titlegoeshere">
    <input type="text" name="event[img]" placeholder="imgurlgoeshere"><br>
    <textarea rows="50" cols="100" name="event[content]"></textarea><br>
    <input type="submit">
</form>